body {
  background-color: yellow;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-style: groove;
  border-color: black;
}

h1.rainbow {
  color: yellow;
  background-color: yellow;
  text-align: center;
}

p {
  color: black;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ul {
  color: brown;
  list-style-type: lower-alpha;
}
img {
  border-radius: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
img.thumbnail {
  border-radius: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

img.listthumbnail {
  border-radius: 5px;
  width: 100px;
  float: left;
  padding: 10px;
}
